.App {
  width: 1200px;
}

@media screen and (max-width: 1199px) and (min-width: 800px) {
  .App {
    height: 600px;
    width: 800px;
  }
}

@media screen and (max-width: 400px) {
  .App {
    height: 562px;
    width: 400px;
  }
}
